<nav id="bg-header">
    <div>
        <a href="/" class="text-2xl font-bold text-gray-800 ">Bare</a>
        <a href="/bootstrap" class="text-2xl font-bold text-gray-800">Bootstrap</a>
        <a href="/tailwind" class="text-2xl font-bold text-gray-800 justify-center">Tailwind</a>
    </div>
</nav>